ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
.listItem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  

  
  .listItem:hover {
    background-color: #ffffff;
    color: #333333;
  }